In [60]:
import re
import pandas as pd

ANS NO = 1

In [61]:
Sample_Text="Python Exercises, PHP exercises."
print(re.sub("[ , .]",":", Sample_Text))

Python:Exercises::PHP:exercises:

ANS NO = 2

In [62]:
Dictionary= {'SUMMARY': ['hello, world!', 'XXXXX test', '123four, five:; six...']}
df=pd.DataFrame (Dictionary)

In [63]:
df['SUMMARY']= df['SUMMARY'].str.replace('[^a-z\s]', '', regex=True)
print(df)

         SUMMARY
0    hello world
1           test
2  four five six

ANS = 3

In [6]:
def find_words(string):
    pattern = re.compile(r'\b\w{4}\b')
    matches = pattern.findall(string)
    return matches

string ="The quick brown fox jumps over the lazy dog"
result=find_words(string)
print(result)

['over', 'lazy']

ANS = 4

In [8]:
def find_words(string):
    pattern = re.compile(r'\b\w{3,5}\b')
    matches= pattern.findall(string)
    return matches

string ="My name is vrutika i am 26 years old i live in Gujrat"
result= find_words(string)
print(result)

['name', 'years', 'old', 'live']

ANS = 5

In [9]:
import re

def remove_parenthese(strings):
    pattern=re.compile(r"\(\)")
    modified_strings =[]
    for string in strings:
        modified_string=re.sub(pattern," ",string)
        modified_strings.append(modified_string)
        return modified_strings

In [10]:
Sample_Text=["example (.com)", "hr@fliprobo (.com)", "github (.com)", "Hello (Data Science World)", "Data (Scientist)"]
result = remove_parenthese(Sample_Text)
print(result)

['example (.com)']

ANS = 6

In [54]:
with open('sample 1.txt','r') as file:
     text = file.read()
modified_text =re.sub(r'\([^()]*\)', ' ',text)
with open('sample 1.txt','w') as file:
 file.write(modified_text)

In [53]:
modified_text

'Sample Text: ["example  ", "hr@fliprobo  ", "github  ", "Hello  ", "Data  "]'

ANS = 7

In [11]:
text = "ImportanceOfRegularExpressionsInPython"
result = re.findall('[A-Z][^A-Z]*',text)
print(result)

['Importance', 'Of', 'Regular', 'Expressions', 'In', 'Python']

ANS = 8

In [12]:

def insert_spaces(RegularExpression1IsAn2ImportantTopic3InPython):
    pattern =r'(\d+)([A-Za-z]+)'
    result = re.sub(pattern,r'\1 \2',RegularExpression1IsAn2ImportantTopic3InPython)
    return result

In [13]:
SampleText= "RegularExpression1IsAn2ImportantTopic3InPython"
Output = insert_spaces(SampleText)

print(Output)

RegularExpression1 IsAn2 ImportantTopic3 InPython

ANS = 9

In [14]:
def insert_space(RegularExpression1IsAn2ImportantTopic3InPython):
    pattern =r'([A-Z][a-z0-9]+|\d+)'
    result =re.sub(pattern, r' \1' ,RegularExpression1IsAn2ImportantTopic3InPython)
    result = result.strip()
    return result

In [15]:
SampleText= "RegularExpression1IsAn2ImportantTopic3InPython"
Output = insert_spaces(SampleText)

print(Output)

RegularExpression1 IsAn2 ImportantTopic3 InPython

ANS = 10

In [16]:
url = "https://raw.githubusercontent.com/dsrscientist/DSData/master/happiness_score_dataset.csv"
df = pd.read_csv(url)

In [17]:
df.head()

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176

In [18]:
df['First_five_letters'] = df['Country']. apply(lambda x: x[:5])

In [19]:
print(df)

         Country                           Region  Happiness Rank  \
0    Switzerland                   Western Europe               1
1        Iceland                   Western Europe               2
2        Denmark                   Western Europe               3
3         Norway                   Western Europe               4
4         Canada                    North America               5
..           ...                              ...             ...
153       Rwanda               Sub-Saharan Africa             154
154        Benin               Sub-Saharan Africa             155
155        Syria  Middle East and Northern Africa             156
156      Burundi               Sub-Saharan Africa             157
157         Togo               Sub-Saharan Africa             158

     Happiness Score  Standard Error  Economy (GDP per Capita)   Family  \
0              7.587         0.03411                   1.39651  1.34951
1              7.561         0.04884                   1.30232  1.40223
2              7.527         0.03328                   1.32548  1.36058
3              7.522         0.03880                   1.45900  1.33095
4              7.427         0.03553                   1.32629  1.32261
..               ...             ...                       ...      ...
153            3.465         0.03464                   0.22208  0.77370
154            3.340         0.03656                   0.28665  0.35386
155            3.006         0.05015                   0.66320  0.47489
156            2.905         0.08658                   0.01530  0.41587
157            2.839         0.06727                   0.20868  0.13995

     Health (Life Expectancy)  Freedom  Trust (Government Corruption)  \
0                     0.94143  0.66557                        0.41978
1                     0.94784  0.62877                        0.14145
2                     0.87464  0.64938                        0.48357
3                     0.88521  0.66973                        0.36503
4                     0.90563  0.63297                        0.32957
..                        ...      ...                            ...
153                   0.42864  0.59201                        0.55191
154                   0.31910  0.48450                        0.08010
155                   0.72193  0.15684                        0.18906
156                   0.22396  0.11850                        0.10062
157                   0.28443  0.36453                        0.10731

     Generosity  Dystopia Residual First_five_letters
0       0.29678            2.51738              Switz
1       0.43630            2.70201              Icela
2       0.34139            2.49204              Denma
3       0.34699            2.46531              Norwa
4       0.45811            2.45176              Canad
..          ...                ...                ...
153     0.22628            0.67042              Rwand
154     0.18260            1.63328              Benin
155     0.47179            0.32858              Syria
156     0.19727            1.83302              Burun
157     0.16681            1.56726               Togo

[158 rows x 13 columns]

ANS = 11

In [20]:
def text_match(text):
    patterns = '^[a-zA-Z0-9_]*$'
    if re.search(patterns,text):
        return 'Found a match!'
    else:
        return("not matched!")

In [21]:
print(text_match("The quick brown fox jumps over lazy dog."))
print(text_match("python_Exercises_1"))

not matched!
Found a match!

ANS = 12

In [22]:
string ="456xzy"
number = 456

def check_starting_number(string,number):
    if string.startswith(str(number)):
        return True
    else:
        return False
        
if check_starting_number(string,number): 
    print("The string starts with the specified number.")
else:
    print("The string does not start with the specified number.")

The string starts with the specified number.

ANS = 13

In [23]:
ip ="110.01.125.048"
string =re.sub('\.[0]*','.',ip)
print(string)

110.1.125.48

ANS = 14

In [24]:
text = "On August 15th 1947 that India was declared independent from British colonialism, and the reins of control were handed over to the leaders of the Country."

pattern = r"\b([A-Z][a-z]+) \d{1,2}(?:st|nd|rd|th)? \d{4}\b"

matches = re.findall(pattern, text)
print(matches)

['August']

ANS = 15

In [25]:
patterns =['fox','dog','horse']
text = 'The quick brown fox jumps over the lazy dog.'
for pattern in patterns:
    print('searching for "%s" in "%s" ->'% (pattern,text),)
    if re.search(pattern,text):
        print('Matched!')
    else:
        print('Not matched!')

searching for "fox" in "The quick brown fox jumps over the lazy dog." ->
Matched!
searching for "dog" in "The quick brown fox jumps over the lazy dog." ->
Matched!
searching for "horse" in "The quick brown fox jumps over the lazy dog." ->
Not matched!

ANS = 16

In [26]:
pattern = 'fox' 
text ='The quick brown fox jumps over the lazy dog.'
match = re.search(pattern,text)
s = match.start()
e = match.end()
print('Found "%s" in "%s" from %d to %d ' % \
      (match.re.pattern, match.string, s,e))

Found "fox" in "The quick brown fox jumps over the lazy dog." from 16 to 19

ANS = 17

In [27]:
text= "Python exercises, PHP exercises, C# exercises"
pattern ='exercises'
for match in re.findall(pattern,text):
    print('"%s" ' %match)

"exercises"
"exercises"
"exercises"

ANS = 18

In [55]:
text= "Python exercises, PHP exercises, C# exercises"
pattern ='exercises'
for match in re.finditer(pattern,text):
    s =match.start()
    e =match.end()
    print('Found "%s" at %d:%d' % (text[s:e], s,e))

Found "exercises" at 7:16
Found "exercises" at 22:31
Found "exercises" at 36:45

ANS =19

In [29]:
def change_date_format(dt):
        return re.sub(r'(\d{4})-(\d{1,2})-(\d{1,2})','\\3-\\2-\\1',dt)

dt1 = "2026-01-02"
print("Original date in YYY-MM-DD Format: ",dt1)
print("New date in DD-MM-YYYY Format: ",change_date_format(dt1))

Original date in YYY-MM-DD Format:  2026-01-02
New date in DD-MM-YYYY Format:  02-01-2026

ANS = 20

In [30]:
def find_decimal_numbers(string):
  pattern =re.compile(r'\d+\.\d{1,2}')
  decimal_numbers = re.findall(pattern,string)
  return decimal_numbers

In [31]:
sample_text="01.12 0132.123 2.31875 145.8 3.01 27.25 0.25"
output = find_decimal_numbers(sample_text)
print(output)

['01.12', '0132.12', '2.31', '145.8', '3.01', '27.25', '0.25']

ANS = 21

In [32]:
text = "The following example creates an ArrayList with a capacity of 50 elements. Four elements are then added to the ArrayList and the ArrayList is trimmed accordingly."

for m in re.finditer("\d+",text):
    print(m.group(0))
    print("Index position :",m.start())

50
Index position : 62

ANS = 22

In [33]:
input_string ='My marks in each semester are: 947, 896, 926, 524, 734, 950, 642'
numeric_values= re.findall(r'\d+', input_string)
numeric_values= [int(value)for value in numeric_values]
max_value =max(numeric_values)
print(max_value)

950

ANS = 23

In [34]:
def insert_spaces(text):
    Pattern =r'([A-Z][a-z]+)'
    result = re.sub(Pattern, r'\1', text,)
    result = result.strip()
    return result

sample_text = "RegularExpressionIsAnImportantTopicInPython"
output = insert_spaces(sample_text)
print(output)

RegularExpressionIsAnImportantTopicInPython

ANS =24

In [56]:
import re
def text_match(text):
        patterns = '[A-Z]+[a-z]+$'
        if re.search(patterns, text):
                return 'Found a match!'
        else:
                return('Not matched!')
print(text_match("AaBbGg"))
print(text_match("Python"))
print(text_match("python"))
print(text_match("PYTHON"))
print(text_match("aA"))
print(text_match("Aa"))

Found a match!
Found a match!
Not matched!
Not matched!
Not matched!
Found a match!

ANS =25

In [37]:
def remove_duplicates(sentence):
  pattern = r'\b(\w+)(\s+\1\b)+'
  result = re.sub(pattern, r'\1', sentence)
  return result


sentence = "Hello hello world world"
output = remove_duplicates(sentence)
print(output)

Hello hello world

ANS = 26

In [38]:
def check_string(string):
  pattern = r"\w$"
  match = re.search(pattern, string)
  if match:
      return True
  else:
      return False


input_string = input("Enter a string: ")
if check_string(input_string):
  print("String ends with an alphanumeric character")
else:
  print("String does not end with an alphanumeric character")

Enter a string:  vrutika@123

String ends with an alphanumeric character

ANS = 27

In [39]:
import re
def extract_hashtags(text):
  hashtags = re.findall(r'#\w+', text)
  return hashtags

text = 'RT @kapil_kausik: #Doltiwal I mean #xyzabc is "hurt" by #Demonetization as the same has rendered USELESS <ed><U+00A0><U+00BD><ed><U+00B1><U+0089> "acquired funds" No wo'

hashtags = extract_hashtags(text)

print(hashtags)

['#Doltiwal', '#xyzabc', '#Demonetization']

ANS = 28

In [40]:
import re

input_text = "@Jags123456 Bharat band on 28??<ed><U+00A0><U+00BD><ed><U+00B8><U+0082>Those who are protesting #demonetization are all different party leaders"

pattern = r"<U\+\w{4}>"
output_text = re.sub(pattern, "", input_text)

print(output_text)

@Jags123456 Bharat band on 28??<ed><ed>Those who are protesting #demonetization are all different party leaders

ANS 29

In [41]:
import re

with open('Sample.txt','r') as file:
     text = file.read()

pattern = r'\d{2}-\d{2}-\d{4}'

dates = re.findall(pattern, text)

for date in dates:
    print(date)

12-09-1992
15-12-1999

ANS = 30

In [57]:
def remove_words(string):
  pattern = re.compile(r'\b\w{2,4}\b')
  modified_string = re.sub(pattern, '', string)
  return modified_string

In [58]:
sample_text = "The following example creates an ArrayList with a capacity of 50 elements. 4 elements are then added to the ArrayList and the ArrayList is trimmed accordingly."
output = remove_words(sample_text)
print(output)

 following example creates  ArrayList  a capacity   elements. 4 elements   added   ArrayList   ArrayList  trimmed accordingly.